* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


@media only screen and (min-width: 768px){
  .signup{
    
  }
  
  .main_container{
    border: 1px solid red;
    width: 25%;
  }


}

@media only screen and (max-width: 768px){
  .signup{
    display: none;
  }
  
  .main_container{
    
  }


}







.navbar a:hover {
  color: #e1db9e;
}

.goldenText {
  margin-left: 10px;
  font-weight: 600;
  color: #a59b47;
}

.analyzer {
  font-weight: 600;
}
